@theme {
  --breakpoint-xs: 26.5rem;     /* 424px */
  --breakpoint-sm: 35.5rem;     /* 568px */
  --breakpoint-md: 48rem;       /* 768px */
  --breakpoint-lg: 64rem;       /* 1024px */
  --breakpoint-xl: 90rem;       /* 1440px */
  --breakpoint-2xl: 96.25rem;   /* 1540px */
}