@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

@layer components {
  /* Page Base */
  .page {
    @apply bg-woodsmoke-50 dark:bg-woodsmoke-925 p-2 size-full duration-300 ease-in-out;
  }

  /* Page - Kanban */

  /* Page - To Do */
  .to-do-btn {
    @apply flex items-center justify-center size-6 border border-woodsmoke-950 rounded-full text-2xl text-woodsmoke-950 dark:border-woodsmoke-100 dark:text-woodsmoke-100;
  }

  /* Page - Notes */

  /* Components */
  .tab-title {
    @apply text-lg font-medium text-woodsmoke-800 dark:text-woodsmoke-300 ease-in-out duration-300;
  }
  .priority-btn {
    @apply size-8 rounded-lg opacity-0 font-bold animate-move-left-to-right text-woodsmoke-950;
  }

  /** Button */
  .btn-base {
    @apply flex justify-center items-center p-1 rounded-lg gap-x-2 bg-transparent border border-woodsmoke-300 duration-300 ease-in-out
      dark:border-woodsmoke-800
      hover:border-transparent hover:text-woodsmoke-50;
  }
  .tab-button {
    @apply flex justify-center items-center fixed top-2/4 w-8 h-16 border text-xl border-woodsmoke-300 bg-woodsmoke-200 text-woodsmoke-900 translate-y-[-50%] duration-300 ease-in-out hover:border-woodsmoke-400 hover:bg-woodsmoke-300 hover:text-woodsmoke-950 dark:border-woodsmoke-800 dark:bg-woodsmoke-950 dark:text-woodsmoke-200 dark:hover:border-woodsmoke-700 dark:hover:bg-woodsmoke-900 dark:hover:text-woodsmoke-300 lg:hidden;
  }

  /** Modal */
  .modal-btn {
    @apply flex-1 duration-300 ease-in-out;
  }

  /** Navbar */
  .link-list {
    @apply flex w-full
      lg:flex-col lg:items-end lg:gap-y-2;
  }
}

/*? Kanban Page */
/*? Color Picker */
.slider {
  -webkit-appearance: none;
  appearance: none;
}
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 16px;
  height: 16px;
  background: transparent;
  cursor: pointer;
  border: 4px solid white;
  border-radius: 100%;
}

/** Layouts */

.main-layout {
  grid-template-areas:
    "header"
    "main";
  grid-template-columns: 1fr;
  grid-template-rows: 64px calc(100dvh - 64px);
}

.to-do-page-layout {
  grid-template-areas:
    "td-header"
    "td-task-list";
  grid-template-columns: 1fr;
  grid-template-rows: 64px calc(100dvh - 64px);
}

.note-page-layout {
  grid-template-areas: "nt-main";
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}

/** Main - Grid Area  */
#header {
  grid-area: header;
}
#nav {
  grid-area: nav;
}
#main {
  grid-area: main;
}

/** To Do - Grid Area  */
#td-header {
  grid-area: td-header;
}
#td-filter {
  grid-area: td-filter;
}
#td-task-list {
  grid-area: td-task-list;
}
#td-general {
  grid-area: td-general;
}

/** Note - Grid Area */
#nt-list {
  grid-area: nt-list;
}
#nt-options {
  grid-area: nt-options;
}
#nt-main {
  grid-area: nt-main;
}

@media (min-width: 1024px) {
  .main-layout {
    grid-template-areas:
      "header header header"
      "nav main main"
      "nav main main";
    grid-template-columns: 224px repeat(2, 1fr);
    grid-template-rows: 4rem repeat(2, calc(50vh - 2rem));
  }
  .main-layout:has(#nav.closed) {
    grid-template-columns: 32px repeat(2, 1fr);
  }

  .to-do-page-layout {
    grid-template-areas:
      "td-header td-header td-header"
      "td-filter td-task-list td-general";
    grid-template-columns: minmax(240px, 380px) minmax(400px, 1fr) minmax(
        240px,
        380px
      );
    grid-template-rows: 64px minmax(1fr, calc(100dvh - 128px));
    gap: 1rem;
  }

  .note-page-layout {
    grid-template-areas: "nt-list nt-main nt-options";
    grid-template-columns: 240px 1fr 240px;
    grid-template-rows: 1fr;
  }
  .note-page-layout:has(#nt-options.closed) {
    grid-template-columns: 240px 1fr 32px;
  }
}
